{% extends 'front/front_base.html' %}
{% block title %}
发表帖子
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ urlFor('common/dist/css/wangEditor.min.css') }}">
<script src="{{ urlFor('common/dist/js/wangEditor.min.js') }}"></script>
<script src="{{ urlFor('common/utils/xt_qiniu.js') }}"></script>
<script>
    // 初始化验证码和富文本编辑器
    $(function(){
        var edit = new wangEditor('ta');
        edit.create();
        window.edit = edit;

        $('.yzm').click(function(event){
            event.preventDefault();
            var old_src = $(this).attr('src');
            old_src = old_src.split('?')[0];
            var new_src = old_src+'?t='+Math.random();
            $(this).attr('src',new_src);
        });
    });
    // 发表文章
    $(function(){
        $('.post').click(function(event){
            event.preventDefault();
            var toServer_btn = $('#toServer');
            if(toServer_btn.text()!='上传图片或视频'){
                xtalert.alertErrorToast('正在上传图片或视频，请稍后...');
                $('.yzm').click();
                return
            }
            var title = $('input[name=title]');
            var board = $('.board').val();
            var captcha = $('input[name=captcha]');
            var content = window.edit.$txt.html();
            if(!title.val()){
                xtalert.alertError('标题不能为空!');
                return
            }
            if(!captcha.val()){
                xtalert.alertError('验证码不能为空!');
                $('.yzm').click();
                return
            }
            if(!content){
                xtalert.alertError('内容不能为空!');
                return
            }
            xtajax.post({
                'url':'/add_post/',
                'data':{
                    'title':title.val(),
                    'board_id':board,
                    'content':content,
                    'captcha':captcha.val()
                },
                'success':function(data){
                    if(data['code']==200){
                        xtalert.alertConfirm({
                            'title':'提示',
                            'msg':data['message'],
                            'confirmText':'再发一篇',
                            'cancelText':'回到首页',
                            'confirmCallback':function(){
                                title.val('');
                                edit.clear();
                                captcha.val('');
                                $('.yzm').click();
                            },
                            'cancelCallback':function(){
                                window.location = '/';
                            }
                        })
                    }else{
                        xtalert.alertError(data['message']);
                        $('.yzm').click();
                    }
                },
                'fail':function(error){
                    xtalert.alertNetworkError();
                    $('.yzm').click();
                }
            })
        });
    });
    // 上传到七牛代码
    $(function(){
        var progress = $('.progress');
        var progress_bar = progress.children(0);
        var toServer_btn = $('#toServer');
        var args = {
            'btn':'toServer',                                      // 点击的按钮
            'get_token':'/get_token/',                             // 请求的七牛token
            'domain':'http://ohslbq04h.bkt.clouddn.com',           //七牛空间的域名
            //'uploadProgress':function(up, file){
                // 显示进度条
            //    window.edit.showUploadProgress(file.percent);
            //},
            'uploadProgress':function(up,file){
                progress.css('display','block');
                progress_bar.attr('aria-valuenow',file.percent+'%');
                progress_bar.css('width',file.percent+'%');
                progress_bar.text(file.percent+'%');
                toServer_btn.button('loading');
            },
            'fileUploaded':function(up,file,info,sourcelink){      // 文件上传完成后调用的方法
                if(file.type.indexOf('video')>=0){
                    var tmp = "<video width='560' height='300' controls><source src="+sourcelink+"></video>";
                    // window.edit.$txt.append(tmp);
                    edit.command(null, 'insertHtml', tmp);
                }else{
                    source_link = sourcelink+'?imageView2/2/w/200/h/200/q/75|imageslim';
                    tmp = "<img src="+source_link+">";
                    edit.command(null, 'insertHtml', tmp);
                    // window.edit.$txt.append(tmp);
                }
            },
            //'UploadComplete':function () {
                // 隐藏进度条
            //    edit.hideUploadProgress();
            //}
            'uploadComplete':function(){
                progress_bar.attr('aria-valuenow','0%');
                progress_bar.css('width','0%');
                progress_bar.text('0%');
                progress.css('display','none');
                toServer_btn.button('reset');
            }
        };
        qn.setup(args);         // 执行七牛代码
    })
</script>
<style>
    #ta{
        height: 400px;
    }
    img.yzm.btn {
        padding: 0;
    }
    .my_input{
        width: 260px;
    }
</style>
{% endblock %}
{% block container %}
<form class="form" method="post">
    <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input type="text" class="form-control" name="title" placeholder="请输入标题(字数在3-100个数之间)">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">板块</span>
            <select class="form-control board">
                {% for board in boards %}
                    <option value="{{ board.id }}">{{ board.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!--富文本编辑器和进度条部分-->
    {% include 'common/common_text_edit.html' %}
    <!--end-->
    <div class="form-group">
        <div class="input-group my_input">
            <input type="text" placeholder="验证码" name="captcha" class="form-control">
            <span class="input-group-addon" style="padding: 0">
                <img src="{{ url_for('front_accent.get_yzm',time=30*60) }}" class="yzm btn">
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="form-input">
            <button class="post btn btn-danger">发布帖子</button>
        </div>
    </div>
</form>
{% endblock %}