{% from 'macro/mymacro.html' import urlFor %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% include 'common/common_head.html' %}
    <link rel="stylesheet" href="{{ urlFor('front/css/front_base.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-togger="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">潭州python学院</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if front_user %}
                    <li class="dropdown">
                        <a href="{{ url_for('front_post.profile',id=front_user.id) }}" class="dropdown-toggle" data-toggle="dropdown">{{ front_user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('front_post.profile',id=front_user.id) }}" class="dropdown-toggle"><img src="{{ front_user.avatar }}" >个人中心</a></li>
                            <li><a href="{{ url_for('front_post.setting') }}">设置</a></li>
                            <li><a href="{{ url_for('front_accent.logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('front_accent.login') }}">登录</a></li>
                    <li><a href="{{ url_for('front_accent.regist') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
<div class="container">
    {% block container %}{% endblock %}
</div>
{% endblock %}
</body>
</html>