{% extends 'front/front_base.html' %}
{% block title %}
首页
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ urlFor('front/css/iconfont/iconfont.css') }}" >
<link rel="stylesheet" href="{{ urlFor('front/css/front_index.css') }}" >
{% endblock %}
{% block container %}
    <div class="lg-container">
        <ul class="top-group">
            <li {% if sort==1 %}class="current"{% endif %}>
                <a href="{{ url_for('front_post.page_list',page=1,sort=1,board=board) }}">
                    <div class="icon-group"><i class="iconfont icon-zuixin"></i></div>
                    <p class="block-title">最新帖子</p>
                </a>
            </li>
            <li {% if sort==2 %}class="current"{% endif %}>
                <a href="{{ url_for('front_post.page_list',page=1,sort=2,board=board) }}">
                    <div class="icon-group"><i class="iconfont icon-jinghua"></i></div>
                    <p class="block-title">精华帖子</p>
                </a>
            </li>
            <li {% if sort==4 %}class="current"{% endif %}>
                <a href="{{ url_for('front_post.page_list',page=1,sort=4,board=board) }}">
                    <div class="icon-group"><i class="iconfont icon-zhichizuiduoxianti"></i></div>
                    <p class="block-title">点赞最多</p>
                </a>
            </li>
            <li {% if sort==3 %}class="current"{% endif %}>
                <a href="{{ url_for('front_post.page_list',page=1,sort=3,board=board) }}">
                    <div class="icon-group"><i class="iconfont icon-appzuixinhuifu"></i></div>
                    <p class="block-title">评论最多</p>
                </a>
            </li>
        </ul>
        <div class="post-list-container outer-border white-bg">
            <div class="post-con">
                <ul class="post-llist">
                    {% for post in posts %}
                    <li style="margin: 25px 0">
                        <div class="post-list-img col-md-1 col-lg-1 col-ms-1" style="padding-left: 0">
                            <a href="{{ url_for('front_post.profile',id=post.front_user.id) }}">
                                <img src="{{ post.front_user.avatar }}" alt="">
                            </a>
                        </div>
                        <div class="post-list-con">
                            <div class="title">
                                <a class="title_name" href="{{ url_for('front_post.post_detail',id=post.id) }}">
                                    {{ post.title }}
                                </a>
                                {% if post.pick %}
                                    <span class="label label-danger">精</span>
                                {% endif %}
                            </div>
                            <div class="auth-msg">
                                <a href="#" class="user_name">{{ post.front_user.username }}</a>
                                <span class="time">{{ post.create_time|format_time }}</span>
                                <span class="comment-count">评论：{{ post.comments|count }}</span>
                                <span class="read-count">阅读：{{ post.read_count }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'common/common_paging.html' %}
    </div>
    <div class="sm-container">
        <div class="add-post-group"><a href="{{ url_for('front_post.add_post') }}" class="btn btn-warning btn-block">发表新帖子</a></div>
        <div class="list-group">
            <span class="list-group-item header">板块</span>
                <a href="{{ url_for('front_post.page_list',page=page,sort=sort,board=0) }}" {% if board==0 %}class="list-group-item a_select"{% else %}class="list-group-item"{% endif %}>
                    所有板块
                    <span class="badge">{{ web_posts_count }}</span>
                </a>
            {% for web_board in boards %}
                <a href="{{ url_for('front_post.page_list',page=page,sort=sort,board=web_board.id) }}" {% if board==web_board.id %}class="list-group-item a_select"{% else %}class="list-group-item"{% endif %}>
                    {{ web_board.name }}
                    <span class="badge">
                        {{ web_board.posts|get_count }}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}