{% from 'macro/mymacro.html' import urlFor %}
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ urlFor('common/sweetalert/xt_ajax.js') }}"></script>
<link rel="stylesheet" href="{{ urlFor('common/sweetalert/sweetalert.css') }}">
<script src="{{ urlFor('common/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ urlFor('common/sweetalert/xt_alert.js') }}"></script>